h1{
    text-align: center;
    font-family:sans-serif;
    text-transform: uppercase;
}
.home{
    text-align: center;
    background: url("");
    background-size: cover;
    background-position: center;
    display: block;
    
}
.about{
    
}
p{
    font-size: 22px;
}
img{
/*    margin: 5px 0px 0px 0px;*/
    border: 7px solid;
    border-radius: 20px;
    width: 100px;
    margin: 0 auto;
    display: block;
/*    box-sizing: border-box;*/
/*    margin: 0;*/
/*    padding: 0;*/
    clear: both;
}
nav{
/*    box-sizing: border-box;*/
/*    margin: 0;*/
/*    padding: 0;*/
    
}
a {
/*    display: inline-block;*/
    text-decoration: none;
    color: black;
    padding: 30px;
    background: pink;
    border-radius: 10px
    
}
a:hover{
    
}
ul{
/*    padding: 10px;*/
}
li{
    display: inline;
    padding: 0px 10px 0px 10px;
    float: right;
}
.container{
    display: block;
    margin: 0 auto; 
}
.HA{
    width:50%;
    height: 450px;
    background: pink;
    float: left;

}
.CPR{
    width: 50%;
    height:450px;
    background: red;
    float: right;
   }
footer{
    text-align: center;
}